.theme {
margin-top: 7rem;
margin-right: 9rem;
margin-bottom: 1rem;
z-index: 1;
}
.theme-button {
    position: relative;
    z-index: 1;
    padding: 1rem;
    width: 15rem;
    border-radius: 1rem;
    border: 2px solid #83EEFF;
    background: #f858da;
   font-size: 1.5rem;
   color: #461B7E;
}
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-content {
    text-align: center;
    display: flex;
    height: 110vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
 
    padding-bottom: 15rem;

  
}
.header__container {
    z-index: 1;
    text-align: right;
    width: 100vw;
    height: fit-content;
    margin-top: 5rem;

}

/* Call To Action --- CTA --- */
.CTA {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    width: 15rem;
    margin: auto;
    text-align: center;
    margin-top: -10rem;
}
.CTA a:hover {
    background: transparent;
    color: #f858da;
    border-color: #f858da;
}
.btn-blue {
    width: max-content;
    display: inline-block;
    color: #83EEFF;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #83EEFF;
    transition: var(--transition);
    }
.btn-blue:hover {
    background: transparent;
    color: #f858da;
    border:1px solid #f858da;
}
.header__socials {
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.header__socials a {
    background:#f858da;
    color: #461B7E;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display:flex;
    border: 1px solid #83EEFF;
}
.header__socials a:hover {
    background:transparent;
    color: #83EEFF;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display:flex;
    border: 1px solid #83EEFF;
}


.hero-left {
    z-index: 1;

display: flex;
margin-top: 12rem;

width: 50%;
justify-content: space-between;
align-items: center;

}
 /* ME --profile pic-- */

.hero-text {
    margin-top: 7rem;
margin: auto;
}
.hero-h1 {
   text-shadow: 1px 2px #83EEFF;
    color: #f858da;
     font-size: 6rem;
}
.video {
    z-index: 1;
    margin: auto;
    margin-right: 10rem;
  margin-top: 15rem;

    width: 38%;
    height: 20rem; 
    box-shadow: 0 5px 20px 0px var(--color-primary);
}

/* Scroll Down */
.scroll__down {
    z-index: 1;
    position: absolute;
    right: 1rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
margin-top: 15rem;
font-size: 1.5rem;
}
.scroll__down:hover {
    color: #f858da;
}
header {
    height: 100vh;
}
/* --- Media Queries (Medium devices)--- */
@media screen and (max-width: 1250px){
.hero-text {
    margin-top: 12rem;
}
.CTA {
    margin-top: -2rem;
}
}
@media screen and (max-width: 1100px){
    .hero-text {
        margin-top: 1rem;
    }
.header-content {
    display: block;
  height: 125vh;
}
.CTA {
    margin-top: -17rem;
}
.hero-left {
    width: 100%;
    margin-top: 10rem;
}
.video {
  width: 30rem;
  height: 10rem;
    margin-right: 0rem;
    margin-top: -1rem;

}
 .scroll__down {
    display: none;
        }
        .theme {
            text-align: center;
            height: 3rem;
            margin-right: 0;
          }
}
@media screen and (max-width: 830px){
.hero-h1 {
      font-size: 4rem;
      margin-top: 1rem;
 }
 .video {
    width: 50%;
 }

}
/* --- Media Queries (Small devices)--- */
@media screen and (max-width: 600px){
.theme {
  text-align: center;
  height: 3rem;
}
.theme-button {
    padding: .5rem;
}
.hero-h1 {
    font-size: 2.5rem;
    padding: 1rem;
}

.CTA {
    margin-top: -18rem;
}
.video {
    width: 15rem;
}

}